<%- include('../partials/header') %>

<head></head>

<div>Calendar Placeholder</div>

<div class="calendar-area">
    <div>April</div>
    <div>
        <div>Sun</div>
        <div>Mon</div>
        <div>Tues</div>
        <div>Wed</div>
        <div>Thurs</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>
    <div id='dates'>
        <!-- <a href="#2021-4-1" class="btn modal-trigger">1</a>
        <div class="modal" id="2021-4-1">
            <div class="modal-content"><p><%= Object.keys(calendarDates).length %></p></div>
        </div> -->
    </div>
    <a href="#modal1" class="btn orange modal-trigger">test</a>
    <div class="modal" id="modal1">
        <div class="modal-content">testting</div>
    </div>
    
<p id="test">
    <%= Object.keys(calendarDates) %>
</p>

</div>

<script>
    $(document).ready(function(){
    $('.modal').modal();
  });



console.log('success')

const dates = document.getElementById('dates')
const cal = '<%- calendarDates %>'
console.log(Object.values(cal))

function initial(){
    let currentDate = new Date()
    let firstDay = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1)
    let lastDate = new Date(currentDate.getFullYear(), currentDate.getMonth()+1, 0)

    let datesOnCalendar = ''
    let dateCount = 0
    let dateTest = 3

    for(let i = firstDay.getDay(); i > 0 ; i--){
        dateCount++
        let newDate = new Date(firstDay.getFullYear(), firstDay.getMonth(), 1-i)
        let dateTag = `${newDate.getFullYear()}-${newDate.getMonth()+1}-${newDate.getDate()}`

        datesOnCalendar += `<a href="#${newDate.getFullYear()}-${newDate.getMonth()+1}-${newDate.getDate()}" class="btn modal-trigger">${newDate.getDate()}</a>
        <div class="modal" id="${newDate.getFullYear()}-${newDate.getMonth()+1}-${newDate.getDate()}">
            <div class="modal-content"><p>${cal}</p></div>
        </div>`
        // `<form action="/calendar/show/${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()}" method="POST" class="prev"><input type="submit" value="${d.getDate()}"></form>`
    }

    for(let i = 1; i<= lastDate.getDate(); i++){
        dateCount++
        let d = new Date(currentDate.getFullYear(), currentDate.getMonth(), i)
        datesOnCalendar += `<form action="/calendar/show/${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()}" method="POST"><input type="submit" value="${i}"></form>`
    }

    for(let i = 1; i <= 42-dateCount; i++){
        let d = new Date(currentDate.getFullYear(), currentDate.getMonth(), lastDate.getDate()+i)
        datesOnCalendar += `<form action="/calendar/show/${d.getFullYear()}-${d.getMonth()+1}-${d.getDate()}"  method="POST" class="next"><input type="submit" value="${d.getDate()}"></form>`
    }

    dates.innerHTML = datesOnCalendar
}

initial()
</script>
<!-- <script src="/js/script.js"></script> -->


<%- include('../partials/footer') %>